.hero {
    height: 100vh;
    background: url('~/assets/images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    position: relative;

    .hero__content {
        padding: 30vh 32px 0;

        @include media('<phone') {
            padding-top: 10vh;
        }

        p {
            padding-top: 16px;
            line-height: 20px;
            padding-bottom: 16px;
            width: 70%;
        }

        .hero__card__div {
            padding: 50px;

            @include media('<phone') {
                padding-right: 0;
                position: absolute;
                bottom: 100px;
                right: 10px;
            }

            @include media('<small') {
            }

            .hero__card {
                background: rgba(129, 216, 208, 0.4);
                border: 0.2px solid $color-cadet-white;
                backdrop-filter: blur(15px);
                border-radius: 10px;
                padding: 16px;
                width: 100%;
                position: relative;
                top: 120px;

                @include media('<phone') {
                    // width: 60%;
                }

                .hero__card__small__div {
                    small {
                        font-size: 9px;
                    }
                }

                p { 
                    padding-top: 0;
                    font-size: 14px;
                    padding-bottom: 0;
                }

                button {
                    padding: 8px;
                    width: 100%;
                    font-size: 9px;
                    margin-top: 10px;
                }
            }
        }
    }
}

.our__mission {
    padding: 50px 32px;

    h4 {
        color: $color-stroke;
        line-height: 1.3;
    }

    .row {
        margin-top: 30px;

        .mission__pill {
            border: 1px solid $color-stroke;
            border-radius: 20px;
            padding: 16px;
            width: 100%;
            margin-bottom: 20px;

            h6 {
                margin-bottom: 10px;
            }

            small {
                color: $color-stroke;
            }
        }
    }

    .button__div {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}

.get__notified {
    height: 100vh;
    background: url('~/assets/images/get-notified.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .get__notified__box {
        background: rgba(17, 17, 17, 0.6);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        padding: 48px 64px;
        text-align: center;
        width: 60%;

        @include media('<phone') {
            width: 90%;
            padding: 32px;
        }

        h6 {
            margin-bottom: 70px;
        }

        h2 {
            margin-bottom: 35px;
        }

        button {
            margin-top: 16px;
            width: 100%;
        }
    }
}