*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

html {
  line-height: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $color-black;
  color: $color-white;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 13px);

  @include media('<mid') {
    font-size: calc($vw / 1366px * 13px);
  }

  @include media('<tablet') {
    font-size: calc($vw / 1024px * 11px);
  }

  @include media('<phone') {
    font-size: calc($vw / 750px * 13px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 13px);
  }
}

h6 {
  &.section__name {
    margin-bottom: 1rem;
    font-size: 1.2rem;  
  }
}

.page {
  padding: 1rem;
  z-index: z('content');
}

body {
  font-family: $font-abc-diatype;
  background-color: $color-black;
  color: $color-white;
  
  @include media('<phone') {
    overflow-x: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.page-btn {
  margin: 2rem;

  @include media('<phone') {
    margin-right: 0;
    margin-left: 0;
  }
}

img {
  vertical-align: middle;
}

input, textarea {
  border: 1px solid $color-white;
  width: 100%;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: $color-white;
  font-family: $font-abc-diatype;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 13px);
  background: transparent;

  @include media('<mid') {
    font-size: calc($vw / 1366px * 13px);
  }

  @include media('<tablet') {
    font-size: calc($vw / 1024px * 11px);
  }

  @include media('<phone') {
    font-size: calc($vw / 750px * 13px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 13px);
  }

  &[type='file'] {
    width: 30%;

    @include media('<small') {
      width: 70%;
    }
  }

  &::placeholder {
    opacity: 70%;
  }

  &:focus {
    border: 1px solid $color-green;
    outline: none;
  }
}

button {
  padding: 0.8rem 1.3rem;
  background-color: $color-cadet-white;
  color: $color-dark-green;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  &.gradient__bg {
    background: linear-gradient(272.79deg, #075451 2.33%, #5AA8A1 53.14%, #81D8D0 99.12%);
    color: $color-cadet-white;
  }

  p {
    color: $color-dark-green !important;
  }
}

.gradient-text-1 {
  background: linear-gradient(90deg, rgba(129, 216, 208, 0.67) 0%, #69D7D0 8.21%, #4BD6CF 18.43%, #03D4CF 43%, #0A3E3C 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text-2 {
  background: linear-gradient(87.56deg, #81D8D0 4.27%, #0F8A86 13.52%, #0D504E 25.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
